@font-face{

font-family:"DemainFont";

src:url("../fonts/ARCADECLASSIC.TTF")
format("truetype");

}

body{

margin:0;

font-family:"DemainFont";

background:
linear-gradient(
#540661,
black
);

display:flex;

justify-content:center;

padding:50px;

overflow-x:hidden;

cursor:
url("../images/cursordemain.png")
12 20,
auto;

}

.container{

display:flex;

flex-direction:column;

align-items:center;

gap:50px;

}

h1{

font-size:50px;

letter-spacing:5px;

color:white;

}

.art-card{

width:900px;

image-rendering:pixelated;

}

.writing-page{

position:relative;

width:900px;

}

.postcard-bg{

width:100%;

display:block;

image-rendering:pixelated;

}

.lines-container{

position:absolute;

top:80px;

left:90px;

width:720px;

height:500px;

}

.lines-container::before{

content:"";

position:absolute;

width:100%;
height:100%;

background:

repeating-linear-gradient(

transparent,
transparent 28px,

rgba(0,0,0,.35) 29px

);

pointer-events:none;

z-index:1;

}

textarea{

position:absolute;

width:100%;
height:100%;

background:transparent;

border:none;

outline:none;

resize:none;

overflow:hidden;

z-index:2;

font-family:"DemainFont";

font-size:18px;

line-height:29px;

word-spacing:6px;

padding:0;

color:black;

}

textarea::placeholder{

color:rgba(0,0,0,.5);

}

.buttons{

display:flex;

gap:20px;

margin-bottom:60px;

}

button{

font-family:"DemainFont";

padding:15px 30px;

font-size:18px;

background:none;

border:2px solid white;

color:white;

box-shadow:5px 5px 0 black;

cursor:
url("../images/cursordemain.png")
12 20,
auto;

transition:.3s;

}

button:hover{

transform:translateY(-4px);

background:white;

color:black;

}