<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MY CAPSULES | DEMAIN</title>
    <link rel="stylesheet"
      href="{{ url_for('static', filename='css/stylecapsules.css') }}">
</head>
<body>
    <div class="container">
        <h1>MY CAPSULES</h1>
        <div class="capsules-grid" id="capsuleContainer">
        </div>
        <div class="footer-section">
            <p class="goodbye-text">
                All your memories have been safely sealed.<br>
                The future will take care of the rest.
            </p>
            <form action="{{ url_for('goodbye') }}">
                <button class="logout-btn">
                    LOG OUT
                </button>
            </form>
        </div>
    </div>
    <script src="{{ url_for('static', filename='javascript/mycapsules.js') }}"></script>
</body>
</html>